body {
    margin: 0;
}

.container {
    height: 100vh;
    margin: 0 8.3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: azure;
    font-size: 30pt;
}

.flex-text {
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    width: 100%;
    height: 18.75%;
    background-color: #7272ec;
}

.main {
    width: 100%;
    height: 50%;
    display: inline-flex;
}
.main-image {
    width: 75%;
    height: 100%;
    background-color: #72ec9a;
}
.main-text{
    background-color: #a4ef5b;
    width: 25%;
    height: 100%;
}
footer {
    height: 31.25%;
    width: 100%;
    background-color: #f2a6d2;
}